%transition{
    transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@mixin flex-box($justify:center, $align-items:center, $flex-wrap:wrap){
    display: flex;
    justify-content: $justify;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
}