.clients {
    padding-top: 60px;
    padding-bottom: 60px;

        @media screen and (min-width: 1200px) {
            padding-top: 94px;
                padding-bottom: 94px;           }

&>.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

&__title {
     color: $max-text-color;
    text-align: center;
        margin-bottom: 30px;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.84px;
        
            @media screen and (min-width: 1200px) {
                letter-spacing: 1.08px;
                font-size: 36px;
                     margin-bottom: 50px;
                  }
}

&__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
&__item {
    flex-basis: calc((100% - 30px)/ 2);

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 60px)/ 3);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 150px)/ 6);
    } }
&__box {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid;
    color: $new-section;
    @include flex-box ();
    transition-property: color;
    @extend %transition;
    &:hover {
            width: 170px;
            height: 92px;
            border-radius: 4px;
            border: 1px solid;
            color: $button-backgrouhd-color;
    
            &__icon {
                fill: $button-backgrouhd-color;
            }
        }
}

&__icon {
    width: 106px;
    height: 60px;
    fill: $new-section;
    transition-property: fill;
    @extend %transition;
    &:hover {
            fill: $button-backgrouhd-color;
        }
}


&__box {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid;
    color: $new-section;
    @include flex-box();
    transition-property: color;
    border-radius: 4px;
        height: 92px;
        width: 100%;
    
        @media screen and (min-width: 480px) {
            width: 210px;
        }
    
        @media screen and (min-width: 768px) {
            width: 226px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 170px;
        }
    
}



&__icon {
    width: 106px;
    height: 60px;
    fill: $new-section;
    transition-property: fill;
    @extend %transition;
}

&__box:hover,
&__box:focus {
    width: 170px;
        height: 92px;
        border-radius: 4px;
        border: 1px solid $button-backgrouhd-color;
    
        .clients__icon {
            fill: $button-backgrouhd-color;
        }
}

&__box:hover + &__icon,
&__box:focus + &__icon {
    fill: $button-backgrouhd-color;
    background-color: #FFF;
}
}