.clients {
    padding-top: 94px;
    padding-bottom: 94px;


&>.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

&__title {
    margin-bottom: 50px;
    color: $max-text-color;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

&__list {
    display: flex;
    gap: 30px;
}

&__box {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid;
    color: $new-section;
    @include flex-box ();
    transition-property: color;
    @extend %transition;
    &:hover {
            width: 170px;
            height: 92px;
            border-radius: 4px;
            border: 1px solid;
            color: $button-backgrouhd-color;
    
            &__icon {
                fill: $button-backgrouhd-color;
            }
        }
}

&__icon {
    width: 106px;
    height: 60px;
    fill: $new-section;
    transition-property: fill;
    @extend %transition;
    &:hover {
            fill: $button-backgrouhd-color;
        }
}


&__box {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid;
    color: $new-section;
    @include flex-box();
    transition-property: color;
}



&__icon {
    width: 106px;
    height: 60px;
    fill: $new-section;
    transition-property: fill;
    @extend %transition;
}

&__box:hover,
&__box:focus {
    width: 170px;
        height: 92px;
        border-radius: 4px;
        border: 1px solid $button-backgrouhd-color;
    
        .clients__icon {
            fill: $button-backgrouhd-color;
        }
}

&__box:hover + &__icon,
&__box:focus + &__icon {
    fill: $button-backgrouhd-color;
    background-color: #FFF;
}
}