.clients {
    padding-top: 94px;
    padding-bottom: 94px;


&>.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

&__title {
    margin-bottom: 50px;
    color: $max-text-color;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

&__list {
    display: flex;
    gap: 30px;
}

&__box {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid;
    color: $new-section;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__box:hover {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid;
    color: $button-backgrouhd-color;

    &__icon {
        fill: $button-backgrouhd-color;
    }
}

&__icon {
    width: 106px;
    height: 60px;
    fill: $new-section;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__icon:hover {
    fill: $button-backgrouhd-color;
}
}