.content{
    display: flex;
    justify-content: start;
    padding-bottom: 60px;
        @media screen and (min-width: 1200px) {
           padding-bottom: 94px;   }
&__list {
    @include flex-box($align-items:none);
    gap: 30px;
    row-gap: 30px;
}

&__subtitle {
    color: $max-text-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}

&__item:hover,
&__item:focus {
    .content__description {
        opacity: 1;
        transform: translateY(0);
    }
}

&__description {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.90);
    z-index: 1;
    opacity: 1;
    transition-property: opacity, transform;
    @extend %transition;
    transform: translateY(101%);
    width: 450px;
        height: 294px;
    
        @media screen and (min-width: 768px) {
            width: 354px;
                height: 294px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 370px;
                height: 294px;
                display: flex;
        }
}

&__description:hover &__description:focus {
    opacity: 1;
}

&__division {
    position: relative;
    overflow: hidden;
}

&__item {
    transition-property: box-shadow;
    @extend %transition;
    // flex-basis: calc((100% - 60px) / 3);
    &:hover {
            box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
                0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
        }
}

&__image{
    width: 450px;
        height: 294px;
    
        @media screen and (min-width: 768px) {
            width: 354px;
            height: 294px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 370px;
            height: 294px;
        }
}

&__picture {
    border: 1px solid #eee;
    padding: 24px 20px 0px 24px;
    padding: 20px 24px;
    width: 450px;
        height: 110px;
        @media screen and (min-width: 768px) {
                width: 354px;
            }
        
            @media screen and (min-width: 1200px) {
                width: 370px;      }
}
&__picture:nth-child(2){
    width: 450px;
        height: 110px;
    
        @media screen and (min-width: 768px) {
            width: 354px;
            height: 146px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 370px;
        }
}

&__subtitle {
    margin-bottom: 4px;
        width: 402px;
    @media screen and (min-width: 768px) {
            width: 306px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 322px;  }
}


&__text {
    color: $mini-text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.48px;
    width: 402px;
    @media screen and (min-width: 768px) {
            width: 306px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 322px;  }
}
}