.footer {
    background-color: $header-footer-background-color;
    padding-top: 60px;
    padding-bottom: 60px;


&>.container {
    display: flex;
    flex-direction: column;
    
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 768px) {
            align-items: first baseline;
            flex-direction: row;
        }
    
        @media screen and (min-width: 1200px) { 
         align-items: baseline;
          }
}

&__link:first-child{
    color: $button-backgrouhd-color;
            font-family: "Raleway";
            font-size: 24px;
            font-weight: 700;
            line-height: 1.38;
            letter-spacing: 0.72px;
            margin-bottom: 20px;
            @media screen and (min-width: 1200px) {
                letter-spacing: 0.78px;
                font-size: 26px;
            }
}
&__span {
    color: $primary-color;
}

&__section{
    text-align: center;
    margin-bottom: 60px;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    @media screen and (min-width: 768px) {
           margin-right: 165px;
        }
        @media screen and (min-width: 1200px) {
            text-align: left;
            margin-right: 0;
            margin-bottom: 0;
            align-items: start;
        }
}

// address-----------------------------------


&__address {
    font-style: normal;
    width: 231px;
    
}

&__place {
    color: $primary-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}
&__item{
    margin-top: 9px;
}

&__phone {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

&__gmail {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

&__list:nth-child(2n) {
    gap: 9px;
}


// soc---------------------------------------------------



&__soc {
    margin-bottom: 60px;
    text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

    @media screen and (min-width: 768px) {
           display: flex;
           flex-direction: column;
           margin-bottom: 0;        }
                @media screen and (min-width: 1200px) {
                    margin-left: 70px;
                    margin-right: 93px;  
                    align-items: start; 
                             }
}

&__title {
    color: #fff;
    width: 146px;
        height: 16px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    @media screen and (min-width: 1200px) {
            text-align: start;  
         }
}

&__roster {
    display: flex;
    gap: 10px;
}

&__buttons {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    @include flex-box();
    border: 0;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    @extend %transition;
}

&__buttons:hover {
    background-color: $button-backgrouhd-color;
}

&__icons {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}


// suscribe-------------------------


    &__text {
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;
        text-align: center;
        
            @media screen and (min-width: 1200px) {
                text-align: start;
            }
    }

    &__form {
        display: flex;
        align-items: center;
            flex-direction: column;
            gap: 20px;
            @media screen and (min-width: 1200px) {
                display: flex;
                flex-direction: row;
                gap: 0;
            }
    }

    &__label {
        color: rgba(255, 255, 255, 0.6);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.48px;
    }

    &__input {
        padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 16px;
        background-color: $header-footer-background-color;
        border-radius: 4px;
        border: 1px solid #ffffff30;
        background-color: rgba(33, 150, 243, 0.00);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        display: block;
        width: 100%;
            @media screen and (min-width: 480px) {
                width: 450px;
                           }
        @media screen and (min-width: 1200px) {
            width: 358px;
                height: 50px;
                margin-right: 12px;
            }
    }

    &__input:focus {
        outline: 1px solid #ffffff30;
    }

    &__send {
        position: relative;
    }

    &__button {
        @include flex-box();
        width: 200px;
        height: 50px;
        border-radius: 4px;
        background-color: $button-backgrouhd-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 28px;
        padding-right: 62px;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.96px;
        position: relative;
        opacity: 1;

    }

    &__svg {
        fill: #FFF;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 26%;
        right: 15%;
    }

}