.footer {
    background-color: $header-footer-background-color;
    padding-top: 60px;
    padding-bottom: 60px;


&>.container {
    display: flex;
    align-items: baseline;
}

&__link{
    color: $button-backgrouhd-color;
        font-family: "Raleway";
        font-size: 26px;
        font-weight: 700;
        line-height: 1.38;
        letter-spacing: 0.78px;
}
&__span {
    color: $primary-color;
    margin-bottom: 20px;
}
}