.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;

  & > .container {
    display: flex;
    align-items: center;
  }

  &__link {
    color: $button-backgrouhd-color;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    margin-right: 93px;
  }

  &__span {
    color: $logo-color;
  }

  &__roster {
    display: flex;
    gap: 30px;
  }

  &__point:last-child {
    margin-right: 318px;
  }

  &__point {
    position: relative;
  }

  &__reference {
    color: $max-text-color;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__reference::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: $button-backgrouhd-color;
    position: absolute;
    left: 0;
    top: 49px;
    opacity: 0;
    color: $team-background-color;
    transition-property: color, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__reference:hover::after {
    content: "";
    opacity: 1;
    color: $button-backgrouhd-color;
  }

  &__reference:hover {
    color: $button-backgrouhd-color;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    color: $button-backgrouhd-color;
  }

  &__list {
    display: flex;
    gap: 50px;
  }

  &__information {
    color: $mini-text-color;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon:last-child {
    fill: $mini-text-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon:first-child {
    fill: $mini-text-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__icon:first-child {
    width: 10px;
    height: 16px;
    fill: $mini-text-color;
  }
  &__icon:last-child {
    width: 16px;
    height: 12px;
    fill: $mini-text-color;
  }
  &__information:hover {
    color: $button-backgrouhd-color;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    .header__icon {
      fill: $button-backgrouhd-color;
    }
  }
}