.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.header>.container {
    display: flex;
    align-items: center;
}

.header-link {
    color: var(--button-backgrouhd-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    margin-right: 93px;
}

.header-span {
    color: var(--logo-color);
}

.navigation-list {
    display: flex;
    gap: 30px;
}

.navigation-item:last-child {
    margin-right: 318px;
}

.navigation-item {
    position: relative;
}

.navigation-link {
    color: var(--max-text-color);
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--button-backgrouhd-color);
    position: absolute;
    left: 0;
    top: 49px;
    opacity: 0;
    color: var(--team-background-color);
    transition-property: color, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover::after {
    opacity: 1;
    color: var(--button-backgrouhd-color);
}

.navigation-link:hover {
    color: var(--button-backgrouhd-color);
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    color: var(--button-backgrouhd-color);
}

.header-list {
    display: flex;
    gap: 50px;
}

.header-information {
    color: var(--mini-text-color);
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icont {
    fill: var(--mini-text-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon {
    fill: var(--mini-text-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-information:hover {
    color: var(--button-backgrouhd-color);
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;

    .header-icon {
        fill: var(--button-backgrouhd-color);
    }

    .header-icont {
        fill: var(--button-backgrouhd-color);
    }
}

.header-icon {
    width: 16px;
    height: 12px;
    fill: var(--mini-text-color);
}

.header-icont {
    width: 10px;
    height: 16px;
    fill: var(--mini-text-color);
}