.page {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/teamsq.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
            padding-bottom: 200px;
    }
  &__title {
    color: $primary-color;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 360px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      margin-left: 204px;
      margin-right: 204px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
      margin-left: 285px;
      margin-right: 285px;
      width: 696px;
    }
  }

  &__button {
    background-color: $button-backgrouhd-color;
    color: $primary-color;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    border-radius: 4px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
        padding-bottom: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    
        @media screen and (min-width: 1200px) {
            padding-left: 32px;
                padding-right: 32px;
              }
  }
}
