.page {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/teamsq.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.page-title {
    color: var(--primary-color);
    text-align: center;
    font-family: "Roboto";
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
    margin-left: 285px;
    margin-right: 285px;
    margin-bottom: 30px;
}

.page-button {
    background-color: var(--button-backgrouhd-color);
    color: var(--primary-color);
    font-family: "Roboto";
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    border-radius: 4px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}